// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito:wght@100;200;300;400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/*.navbar-brand {
    background-color: #8cbf6d;
    font-size: 1.9rem;
    padding-left: 1.7rem;*
    padding-right: 1.7rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}
*/
/*
.navbar-border {
    border-bottom: 0.5px solid gray;
}
*/

//タグ
.badge-rounded {
    border-radius: 0.2rem; /* 角を鋭く */
}

//ログインと登録画面でのカード
.auth-page .card {
    border: 1px solid #ddd; /* カードの枠線 */
    border-radius: 4px; /* 角をほんのり丸くする */
    margin-top: 11px; /* 上部のマージン */
    font-family: 'Nunito Sans', sans-serif;
}

//一覧表示でのカード
.index .card {
    border: 1px solid #ddd; /* カードの枠線 */
    border-radius: 4px; /* 角をほんのり丸くする */
    margin-top: 110px; /* 上部のマージン */
    font-family: 'Nunito Sans', sans-serif;
}

.bg-custom-gray {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.font-color {
    color: #6c757d;
}

.article-title {
    font-size: larger;
}

small {
    font-size: 0.5rem; /* smallクラスのフォントサイズをさらに小さく調整 */
}

/* ページネーション */
.custom-pagination > span,
.custom-pagination > a, {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 !important;
    color: #8cbf6d !important;
    border: 1px solid #8cbf6d !important;
    padding: 0.5rem 1rem !important;
    text-decoration: none;
    border-radius: 0 !important; /* ボーダー半径をリセット */
}

.custom-pagination > span:first-child,
.custom-pagination > a:first-child {
    border-top-left-radius: 0.25rem !important; /* 左上の角を丸く */
    border-bottom-left-radius: 0.25rem !important; /* 左下の角を丸く */
}

.custom-pagination > span:last-child,
.custom-pagination > a:last-child {
    border-top-right-radius: 0.25rem !important; /* 右上の角を丸く */
    border-bottom-right-radius: 0.25rem !important; /* 右下の角を丸く */
}

.custom-pagination > span + a,
.custom-pagination > a + a,
.custom-pagination > a + span {
    border-left-width: 0 !important; /* 要素間のボーダーを削除 */
}

.custom-pagination > span:hover,
.custom-pagination > a:hover {
    color: #218838 !important;
}

.custom-pagination > span[aria-current],
.custom-pagination > span[aria-current] span {
    background-color: #8cbf6d !important;
    border-color: #8cbf6d !important;
    color: white !important;
}

/* 検索窓
form.d-flex .form-control {
    height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-color: #8BC34A;
    width: 220px;
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 10px;
}
*/

/* 検索ボタン
form.d-flex .btn {
    //width: 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    height: 30px;
    border-color: #8BC34A;
    background-color: #8BC34A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
*/

//Kitaの楕円形
.custom-ellipse {
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

// ログインと会員画面
.login-register-heading {
    font-family: 'Poppins', sans-serif;
}



